<%= form_for @debt, remote:true do |f| %>
	<div>
		<div><%= f.label "Debt Account Name:" %></div>
		<%= f.text_field :name %>
	</div>
	<div>
		<div><%= f.label "Amount" %></div>
		<%= f.text_field :amount %>
	</div>
	<div>
		<div><%= f.label "Interest Rate" %></div>
		<%= f.text_field :interest_rate %>
	</div>
	<div>
		<div><%= f.label "Minimum Monthly Payment" %></div>
		<%= f.text_field :minimum_monthly_payment %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>
<div class="render_here"></div>
