<h1><%= @user.email %>'s Financial Docket</h1>
<div class="portfolio_data">
	<h2><u>Savings Account:</u></h2>
	$<%= @user.accounts.find_by(a_type:'Savings').amount %>

	<h2><u>Checking Account:</u></h2>
	$<%= @user.accounts.find_by(a_type:'Checkings').amount %>

	<h2><u><%= link_to "Total Debt", debts_path %>:</u></h2>
	$ <%= @user.total_debt %>

	<ul>
		<% @user.debts.each do |debt| %>
			<li>Name: <%= debt.name %> || Amount: <%= debt.amount %> || Interest Rate: <%= debt.interest_rate %> || Minimum Monthly Payment: <%= debt.minimum_monthly_payment %> </li>
		<% end %>
	</ul>

	<h2><u><%= link_to "Total Investments", investments_path %>:</u></h2>
	$<%= @user.total_investment %>
	<ul>
		<% @user.investments.each do |investment| %>
			<li>Name: <%= investment.name %> || Amount: <%= investment.amount %> || Interest Rate: <%= investment.interest_rate %> </li>
		<% end %>
	</ul>
</div>

<div class="monthly_numbers">
	<h3>Total Monthly Spending: </h3>
	<%= @user.total_monthly_spending %>

	<h3>Monthly Income:</h3>
	<%= @user.total_monthly_income %>
	<% @user.monthly_incomes.each do |income| %>
		<li>Name: <%= income.source_name %> || Amount <%= income.source_amount %></li>
	<% end %>

	<h3>Monthly CashFlow</h3>
	<%= @user.cash_flow %>
</div>

<div>
	<h1>WHAT THE FUCK SHOULD I DO?!</h1>
	<ul>
	<% @user.initial_calculation_shuffle.each do |advice| %>
		<li><%= advice %></li>
	<% end %>
	</ul>
</div>
