<div class="month">
	<div class="month__date">
		<span class="month__date--month"><%= month.name %></span>
		<span class="month__date--year"><%= month.year %></span>
		<span class="month__date--net_worth">NET WORTH: $ NETWORTH </span>
	</div>
	<div class="month__stats">
		<div class="month__bucket">
			Debt: $<%= month.Debt.total_amount %>
			<% if(month.Debt.transfer > 0){ %>
				<span class="positive_arrow">&#9660</span>
			<% } else if(month.Debt.transfer < 0) { %>
				<span class="negative_arrow">&#9650</span>
			<% } %>
			 <%= month.Debt.transfer > 0 ? month.Debt.transfer : "" %>
		</div>
		<div class="month__bucket">
			Savings: $<%= month.Account.total_amount %>
			<% if(month.Account.transfer > 0){ %>
				<span class="positive_arrow">&#9650</span>
			<% } else if(month.Account.transfer < 0) { %>
				<span class="negative_arrow">&#9660</span>
			<% } %>

			 <%= month.Account.transfer !== 0 ? Math.abs(month.Account.transfer) : "" %>
		</div>
		<div class="month__bucket">
			Investment: $<%= month.Investment.total_amount %>

			<% if(month.Investment.transfer > 0){ %>
				<span class="positive_arrow">&#9650</span>
			<% } else if(month.Investment.transfer < 0) { %>
				<span class="negative_arrow">&#9660</span>
			<% } %>

			<%= month.Investment.transfer !== 0 ? month.Investment.transfer : "" %>
		</div>
	</div>
</div>
